/**********************************************
*** General Styles 
**********************************************/
@font-face {
    font-family: poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}


* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}


body {
    width: 100%;
}


a {
    text-decoration: none;
}


li {
    list-style: none;
}




/**********************************************
*** Header Section
**********************************************/
header {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.main {
    width: 80%;
    position: absolute;
    top: 25vh;
    left: 10vw;
}


.oval {
    position: absolute;
    top: 0;
    right: 0;
}

.player {
    position: absolute;
    top: 15%;
    right: 10%;
    border-radius: 5px;
}


.main .get-started p {
    font-size: 40px;
}


.main .get-started div {
    width: 35%;
    font-size: 16px;
}

.main .get-started button {
    background-color: #432B99;
    border: 1px solid #432B99;
    color: #ffffff;
    padding: 7px 14PX;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: 300ms;
}

.main .get-started button:hover {
    background-color: rgb(64, 47, 128);
    border: 1px solid #432B99;
}


nav {
    width: 40%;
    margin-top: 2%;
    margin-right: 10%;
}


nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul li a {
    margin-right: 20px;
    color: #f7f4fb;
    transition: 300ms;
}


nav ul li a:hover {
    color: #d4d4d4;
}


nav .sign button {
    padding: 10px 23px;
    border-radius: 5px;
    cursor: pointer;
}


nav .sign button:first-child {
    border: 1px solid #fff;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    font-family: poppins;
    background-color: transparent;
    margin-right: 8px;
    transition: 300ms;
}


nav .sign button:first-child:hover {
    background-color: #000;
    border: 1px solid #000;
}


nav .sign button:last-child {
    border: 1px solid #000;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    font-family: poppins;
    background-color: #2f281e;
    transition: 300ms;
}


nav .sign button:last-child:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}


.about {
    width: 100%;

}


.about ul {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.about ul li img {
    width: 70px;
    height: 70px;
    border: 1px solid #432B99;
    padding: 20px;
    border-radius: 5px;
}


.about ul li:nth-child(2) img {
    background-color: #432B99;
}


.about ul li .about-desc {
    font-weight: bold;
    font-size: 16px;
    margin: 8px 0;
}

.about ul li p {
    font-size: 12px;
    user-select: none;
}



/**********************************************
*** Learn Section 
**********************************************/
.learn {
    width: 100%;
    height: 100vh;
    margin-top: 150px;
}


.learn .learn-section {
    background: linear-gradient(to bottom,
            white, rgb(235, 232, 240));
    border-radius: 0% 0% 85% 85% / 30%;
    padding: 0px 200px 100px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.learn .learn-ticks {
    height: 100%;
    margin-right: 60px;
}

.learn .learn-ticks h1 {
    font-size: 40px;
    margin: 25px 0;
}

.learn .learn-ticks p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: #626262;
    font-weight: lighter;
    font-size: 15px;
}

.learn .learn-ticks p span {
    margin-right: 5px;
}

.learn .learn-more {
    width: 80%;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.learn .learn-more button {
    background-color: #432B99;
    border: 1px solid #432B99;
    color: #ffffff;
    padding: 7px 14PX;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 300ms
}


.learn .learn-more button:hover {
    background-color: rgb(64, 47, 128);
    border: 1px solid #432B99;
}


.learn .learn-more span {
    display: flex;
    align-items: center;
    color: #432B99;
    cursor: pointer;
}


.learn .learn-more .icon-playSign {
    margin-left: 5px;
    font-size: 20px;
}



/**********************************************
*** Testimonial Section 
**********************************************/
.testimonial {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -180px;
}


.testimonial p:first-child {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
}


.testimonial p:nth-child(2) {
    font-size: 16px;
    font-weight: 550;
}


.testimonial p:nth-child(4) {
    font-size: 32px;
    font-weight: bold;
    margin-top: -30px;
}


.testimonial p:nth-child(5) {
    font-size: 16px;
    font-weight: bold;
    color: #432b99;
    margin: 10px 0;
}


.testimonial .grill {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.testimonial .grill p {
    font-size: 16px;
    color: rgb(64, 95, 150);
    font-weight: bold;
}


.testimonial .our-story {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/**********************************************
*** Information Section 
**********************************************/
.info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}


.info .info-head {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.info .info-head span {
    font-size: 28px;
    margin-right: 5px;
}


.info .info-head p {
    font-size: 28px;
    font-weight: bold;
}



.info .info-head .info-head-sub {
    display: flex;
    align-items: center;
}


.info .info-desc {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}



/**********************************************
*** Recent Posts Section 
**********************************************/
.recent {
    width: 100%;
    margin-top: 80px;
}

.recent .recent-post {
    text-align: center;
}

.recent .recent-post p:first-child {
    font-size: 32px;
}


.recent .recent-post p:last-child {
    font-size: 16px;
}


.recent .recent-detail {
    margin: auto;
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.recent .recent-detail .recent-detail-image p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
}


.recent .recent-detail .recent-detail-image p:last-child {
    font-size: 16px;
    font-weight: 500;
}


.recent .recent-detail .active {
    color: #432B99;
}